<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <span class="navbar-brand">HexaIO Events</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Site" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarBackoffice" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-user-secret"></i> Back-office
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarBackoffice">
                            <a class="dropdown-item" asp-area="Backoffice" asp-controller="Event" asp-action="Index">
                                <i class="fa-solid fa-calendar-days"></i>&nbsp; Manage events
                            </a>
                            <a class="dropdown-item" asp-area="Backoffice" asp-controller="Product" asp-action="Index">
                                <i class="fa-solid fa-calendar-days"></i>&nbsp; Manage products
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>