<div class="bg-warning p-2 rounded d-none" style="min-height: 30px;" id="browserSupportNoIE">
    <i class="fa fa-exclamation-triangle"></i>
    <span class="ml-2">
        <strong>IE browser is no longer supported!</strong>
        Please use another browser to browse this web site!
        Be warned: some functions wont work on IE! Sorry.
    </span>
</div>
